{% extends "base.html.twig" %}

{% block body_container_main %}
	
	<h3><a href="{{ path(seleccionarRecetasURL) }}"> Seleccionar Recetas </a></h3>

    <h3><a href="{{ path(estadisticasURL) }}"> Estadisticas </a></h3>

{% endblock body_container_main%}	

