{% extends "base.html.twig" %}

{% block body_container_main %}
	
	<h3><a href="{{ path('modifyProfile') }}"> Modificar perfil </a></h3>
	
	<h3><a href="{{ path('generateRecipe') }}"> Cargar nueva receta</a></h3>
	
	<h3><a href="#" id="crearGrupo"> Crear nuevo grupo</a></h3>

{% endblock body_container_main%}	

{% block dialog1 %}

	<div id="grupoDialog" title="Crear grupo" class="panel panel-default" style="padding: 10px; margin-bottom: 10px;">

	    <div class="panel-body">
	    	
	    	<div class="form-group">
				<form>
				
					<div class="form-group">
					    <label for="name">Nombre del Grupo:</label>
					    <div style="float:left; width:95%;">
					    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese un nombre para el grupo">
					    </div>
					</div>
					
					<br>
					
					<div class="form-group">
					    <label for="agregarUsuario">Agregar usuario:</label>
					    <div style="float:left; width:95%;">	
					    	<input type="text" class="form-control" placeholder="Ingrese usuario" id="agregarUsuario" name="agregarUsuario">
					    </div>
					    <div style="float:right; width:5%;">	
					    	<button class="btn btn-default" id="agregar">+</button>
					    </div>
					</div>
					
					<br>
					
					<label for="userList">Usuarios en el grupo:</label>
					<ul id="userList"></ul>
					
					<button id="'crearGrupo" class="btn btn-default">Crear Grupo</button>
				    
				</form>
			</div>
			
	    </div>
	    
	</div>	    
	
{% endblock dialog1%}	

{% block body_js %}

	{{ parent() }}
	
	<script type="text/javascript">

	  	 $('#crearGrupo').click(function() {
	
			$('#grupoDialog').dialog('open');
			
	   	 });

	  	 $('#agregar').click(function() {
	  		
	  	     $.ajax({
	 		 	 type: 'POST',
	 		 	 data: {'nombre' : $("#agregarUsuario").val()},
				 url: "{{ path("findUser") }}"
	 		 }).success(function(data, textStatus, jqXHR){
	 			$("#userList").append("<li id="+data.id+">"+data.nombre+"</li>");
	 		 });
				
		 });
			
	
		$("#grupoDialog").dialog({
			
			 autoOpen: false,
			 draggable: true,
			 resizable: false,
			 width: 500,
			 
			 show: {
				 effect: "clip",
				 duration: 500,
			 },
			 
			 hide: {
				 effect: "clip",
				 duration: 500
			 }
		 });

	</script>

{% endblock body_js %}